UID=1000
GID=100
PUID=1000
PGID=100
TZ=America/Denver
USERDIR=
DOCKERDIR=
LOCALDOCKERDIR=
SYNOLOGYDIR=
SECRETSDIR=
EMAIL=

DOMAINNAME=
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_ZONEID=

PIHOLE_PWD=
