[Unit]
Description=Start tmux in detached session running Docker/Spigot/Minecraft
After=docker.service

[Service]
Type=forking
User=jalance
ExecStart=/home/jalance/Projects/docker-services/minecraft/systemd-start.sh
ExecStop=/home/jalance/Projects/docker-services/minecraft/systemd-stop.sh
WorkingDirectory=/home/jalance/Projects/docker-services/minecraft

[Install]
WantedBy=multi-user.target
